img {
    width: 50px;
}
.red {
    color: red;
    font-size: 20px;
    border: red 1px solid;
    padding: 2px;
}

.large {
    font-size: 40px;
}

.default-input {
    border: green 5px solid;
    padding: 5px;
}

.error-input {
    border: red 1px solid;
}